<main class="aboutWrapper">
    <section class="aboutLucaContainer">
            <article class="aboutLuca">
                <p> Howdy, I used to cut hair, now I cut code.<p> Or something.</p> <p> I'm skilled with customer experience, communication, and problem-solving. </p>
                <p> I have a love of people that has been a launch pad into software development. I hope to address engaging problems in user experience, information control, and customer experience interactions. </p>
                <p> I keep a blog focused on a wide range of my interests. From cooking, coding, gaming, and current events. This is a good place to get to know me. </p>
            </article>
    </section>
    <hr>
    <h1 class="sectionTitle"> Resume and project Overview </h1>
           <article class="projectContainer">
            <h3 class="projTitle" ng-mouseover="openB=true" ng-mouseleave="openB=false"> <i ng-show="openB" class=" fa fa-folder-open"></i> <i ng-show="!openB" class=" fa fa-folder"></i> <a class="githubLink"  target="_blank" href="https://github.com/LJunghansCode/BlogVersion2">Check out this Website</a></h3>
            <p>My blog is built on top of nodeJs, and angularJs. I'm using express for the backend, and mongo to host my blog data. I've done my best to stay minimal with the css and javascript. Focusing on an easy to read, fast loading experience.</p>
        </article>
       <article class="projectContainer">
            <h3 class="projTitle" ng-mouseover="openN=true" ng-mouseleave="openN=false"> <i ng-show="openN" class=" fa fa-folder-open"></i> <i ng-show="!openN" class=" fa fa-folder"></i> <a class="githubLink"  target="_blank" href="https://github.com/LJunghansCode/NicholasWilliamClientWebsite">Nicholas William T-shirts</a></h3>
            <p>My most recent Angular project. Taking advantage of Angular CLI, and Stripe API to complete payments. This is a simple t-shirt website for a local artist who makes one of a kind tshirts. The purpose is to highlight the t-shirt design. It’s an art gallery as much as it is a store. Also implemented an Admin portal, admin store manipulation, and cookies for user experience. </p>
            <img src="./../static/img/nico1.png" alt="nico">
            <img src="./../static/img/nico2.png" alt="nico">
        </article>
        <article class="projectContainer">
            <h3 class="projTitle" ng-mouseover="openP=true" ng-mouseleave="openP=false" > <i ng-show="openP" class="fa fafa fa-folder-open" aria-hidden="true"></i> <i ng-show="!openP" class="fa fa-folder"></i> <a  target="_blank" class="githubLink" href="https://github.com/LJunghansCode/PrincessTheGame">Princes$ the Game</a></h3>
            <p class="projText">A game in progress, a tale of a princess and her mid-evil politics. Built in <a href="http://unity.com/">Unity</a> as a passion project.
                I'm using <a href="http://www.mapeditor.org/">Tiled</a> which is an amazing resource for map building.
                (These are just my scripts, if you're intersted in a stable, send me an e-mail)
            </p>
            <img src="./../static/img/princessScreenShot.png" alt="princess">
            <img src="./../static/img/princess2.png" alt="princess">
        </article>
        <article class="projectContainer">
            <h3 class="projTitle" ng-mouseover="openS=true" ng-mouseleave="openS=false"> <i ng-show="openS" class=" fa fa-folder-open"></i> <i ng-show="!openS" class=" fa fa-folder"></i> <a class="githubLink"  target="_blank" href="https://github.com/LJunghansCode/Song-for-Song-app">Song for Song</a></h3>
            <p>The purpose of this app is to practice building an API in the backend in C#. And querying that API with angularJS on the front end. Also using youtubeAPI to allow some video embed, and enable me to write an autofill function for entries</p>
            <img src="./../static/img/songforsong.png" alt="songforsong">
            <img src="./../static/img/basicString.png" alt="songforsong">
        </article>
        <br>
    <hr>
    <section class="demo">
    <h1 class="sectionTitle Demo">Front to Back Demonstration</h1>
    <h4 class="sectionSubTitle"></h4>
        <article class="projectContainer">
            <h3 class="projTitle"  ng-mouseover="open1=true" ng-mouseleave="open1=false"> <i ng-show="open1" class=" fa fa-folder-open"></i> <i ng-show="!open1" class=" fa fa-folder"></i> <a  target="_blank" class="githubLink" href="https://github.com/LJunghansCode/MeanTest">MEAN Stack App</a></h3>
            <p>A fake survey app that demonstrates fully functional MEAN stack interactions.</p>
        </article>

        <article class="projectContainer">
            <h3 class="projTitle"  ng-mouseover="open2=true" ng-mouseleave="open2=false"> <i ng-show="open2" class=" fa fa-folder-open"></i> <i ng-show="!open2" class=" fa fa-folder"></i> <a  target="_blank" class="githubLink" href="https://github.com/LJunghansCode/PythonBlackBelt">Django App</a></h3>
            <p>A fake travel app that demonstrtates Django//SQL MVC </p>
        </article>

        <article class="projectContainer">
            <h3 class="projTitle"  ng-mouseover="open3=true" ng-mouseleave="open3=false"> <i ng-show="open3" class=" fa fa-folder-open"></i> <i ng-show="!open3" class=" fa fa-folder"></i> <a  target="_blank" class="githubLink" href="https://github.com/LJunghansCode/.netCoreDemo">.netCore app</a></h3>
            <p> A fake auction app that demonstrates ASP.netCore//MYSQL MVC with razor for serving views. </p>
            
        </article>

    </section>
</main>

