
<section class="contactText">
            <p>Want to get in touch with me?</p>
            <form action="mailto:luca.junghans@gmail.com" method="GET" enctype="text/plain">
            Details:<br>
            <input type="hidden" value="Email_Luca" name="subject" />
            <textarea type="textarea" name="body" rows="5" cols="25" /></textarea><br>
            <input type="submit" value="Send" /><br>
            </form>
            
            <p>Email: luca.junghans@gmail.com : Seattle, Wa.</p>
            
</section>