
<section class="contactText">
            <p>Want to get in touch with me?</p>
            <form action="mailto:luca.junghans@gmail.com?subject=Found%20you%20from%20your%20website!body=details" method="post" enctype="text/plain">
            Details:<br>
            <textarea type="textarea" name="comment" size="50"></textarea><br>
            <input type="submit" value="Send"><br>
            </form>
            
            <p>Email: luca.junghans@gmail.com : Seattle, Wa.</p>
            
</section>