
<article class="createFormWrapper">
    <form >
    <label for="title">Title</label>
    <input  type="text" ng-model="blogPost.title">
      <label for="FirstPar">SubHead One:</label>
    <input  type="text" ng-model="blogPost.subhead1">
      <label for="FirstPar">First Paragraph:</label>
    <textarea  type="textarea" ng-model="blogPost.firstPar"></textarea>
      <label for="FirstPar">SubHead Two:</label>
    <input  type="text" ng-model="blogPost.subhead2">
      <label for="SecondPar">Second Paragraph:</label>
    <textarea type="textarea" ng-model="blogPost.secondPar"></textarea>
      <label for="FirstPar">SubHead Three:</label>
    <input  type="text" ng-model="blogPost.subhead3">
      <label for="ThirdPar">Third Paragraph:</label>
    <textarea  type="textarea" ng-model="blogPost.thirdPar"></textarea>
      <label for="LastPar">Last Paragraph:</label>
    <textarea  type="textarea" ng-model="blogPost.finalPar"></textarea>
     <label>picOne:</label><input class="form-control" type="text" ng-model="blogPost.picOne">
     <label>picTwo:</label><input class="form-control" type="text" ng-model="blogPost.picTwo">
   <label>picThree:</label><input class="form-control" type="text" ng-model="blogPost.picThree">
    <label>picFour:</label><input class="form-control" type="text" ng-model="blogPost.picFour">
    <button type="submit" ng-click="newBlogPost()">Hey Luca, submit!</button>
  </form>
</article>