
<main>
    <article class="singlePost">
            <header class="blogHeader">
                <h1 ng-bind="blogInstance.title"> </h1>
                <h3 ng-bind="blogInstance.subhead1"></h3>
                <img src="{{blogInstance.picOne}}" alt="HeaderImage" class="img-responsive">
            </header>
                    <h2 class="section-heading"></h2>
                    <p ng-bind="blogInstance.firstPar"></p>
                    <hr>
                    <img class="img-responsive" src="{{blogInstance.picTwo}}"/>
                    <p ng-bind="blogInstance.secondPar"></p>
                    <img class="img-responsive" src="{{blogInstance.picThree}}" />
                    <p ng-bind="blogInstance.thirdPar"></p>
                    <img class="img-responsive" src="{{blogInstance.picFour}}" />
    </article>
</main>

