    $charcoal: #36454F;
    $primaryColor: #F29557;
    $backgroundColor: white;
    $graphic2: #000516;
    * {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    }
    a:hover{
    cursor: pointer;
    }
    input{
    background-color: $primaryColor;
    }
    textarea{
    background-color: $primaryColor; 
    }
    h1 {
    font-size: 40pt;
    }
    h3 {
    font-size: 26pt;
    }
    html{
    font-family: "Lucida Console", Monaco, monospace;
    height: 100%;
    }
    body{
    font-size: 12pt;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    }
    .emailLink {
    font-size: 20pt;
    text-decoration: none;
    color: $graphic2;
    }
    .emailLink:hover {
    color: $primaryColor;
    }
    .pageContainer {
    background-color: $backgroundColor;
    width: 100%;
    height: 100%;
    }

    .skillsLogo {
    width: 45px;
    height: 45px;
    }
    footer ul li{
    display: inline;
    }
    .mainContentWrapper {
    margin: 0 auto;
    flex: 1;
    text-align: center;
    background-color: $backgroundColor;
    width: 99%;
    }
    .landingLinksContainer {
    width: 100%;
    }
    #developmentBlock {
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    background-image: url('./../img/codeScreen.png');
    }
    #blogBlock {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./../img/Lucaheadshot.jpg');
    }
    .projectContainer {
    margin: 0 auto;
    margin-bottom: 2%;
    width: 100%;
    }
    .projTitle a {
    color: white;
    }
    .projTitle{
    color: $primaryColor;
    margin-top: 1%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./../img/graphic2.svg');
    }
    .sectionTitle{
    background-size: cover;
    background-position: center;
    background-position-x: 70px;
    background-repeat: no-repeat;
    background-image: url('./../img/graphic.svg');

    }
    .projectContainer a {
    text-decoration: none;
    }
    .projectContainer p {
    width: 100%;
    margin-top: 3%;
    display: inline-block;
    }
    .projectContainer img {
    width: 40%;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    padding: 5px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    }
    .projectContainer img:hover {
    z-index: 1001;
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    }
    .projectImageContainer {
    display: inline-block;
    width: 100%;
    }


@media only screen and (max-width: 799px) {
    .aboutLuca {
    margin-top: 2%;
    width: 100%;
    padding: 0px;
    text-align: center;
    }
    .projectContainer img {
    width: 93%;
    padding: 5px;
    display: inline-block;

    }
    .aboutLuca p {
    margin: 0 auto;
    padding: 5px;
    width: 100%;
    }
    .projectContainer img {
    z-index: 1001;
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    }
    .animLink {
    font-size: 13pt;
    }
    .sectionTitle {
    text-decoration: none;
    width: 100%;
    margin-top: 1%;
    margin: 0 auto;
    font-size: 18pt;
    }
    .navContainer{
    text-align: center;
    margin: 0 auto;
    background-color: $primaryColor;
    width: 100%;
    }
    .projTitle {
    font-size: 15pt;
    }
    .homeBlockList li{
    list-style: none;
    margin-top: 10%;
    color: white;
    height: 300px;
    }
    .homeBlock {
    border: 4px solid $charcoal;
    margin: 0 auto;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    width: 95%;
    }
    .homeBlockList a{
    text-decoration: none;
    }
    .blogHeader h1 {    
    font-size: 25pt;
    }
    .blogHeader h3{
    font-size: 10pt;
    }
}
@media only screen and (max-width: 799px) and (min-width: 501px) {
    .navContainer{
    text-align: center;
    margin: 0 auto;
    background-color: $primaryColor;
    width: 100%;
    }
    .aboutLuca {
    width: 100%;
    padding: 0px;
    text-align: center;
    }
    .aboutLuca p {
    margin: 0 auto;
    padding: 5px;
    width: 100%;
    }
    .sectionTitle {
    text-decoration: none;
    width: 100%;
    margin: 0 auto;
    margin-top: 1%;
    font-size: 18pt;
    }
    .projTitle {
    font-size: 15pt;
    }
}

@media only screen and (min-width: 800px) {
    .sectionTitle {
    margin-top: 1%;
    text-decoration: none;
    width: 100%;
    margin: 0 auto;
    }
    .blogHeader h1 {    
    font-size: 45pt;
    }
    .blogHeader h3{
    font-size: 20pt;
    }
    .aboutLucaContainer {
    margin-top: 1%;
    margin-bottom: 1%;
    background-image: url('./../img/armpits.jpg'); 
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50%;
    width: 100%;
    }
    .aboutLuca p {
    font-size: 13pt;
    text-align: left;
    padding: 6px;
    padding-top: 2%;
    width: 45%;
    }
    .homeBlockList {
    list-style: none;
    margin-top: 1%;
    }
    .homeBlockList li {
    color: white;
    display: inline-block;
    width: 33%;
    height: 500px;
    }
    .homeBlock p {
    opacity: 1;
    }
    .homeBlock {
    border: 4px solid $charcoal;
    -webkit-filter: opacity(1);
    filter: opacity(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    width: 100%;
    }
    .homeBlock:hover {
    -webkit-filter: opacity(.7);
    filter: opacity(.7);
    color: black;
    }
}
    .contactText {
    margin-top: 5%;
    }
    .createFormWrapper {
    margin-top: 4%;
    }
    .createFormWrapper form label{
    display: block;
    padding: 1%;
    }
    .createFormWrapper button {
    display: inline-block;
    }
    .blog-post-list {
    margin: 0 auto;
    width: 95%;
    margin-top: 3%;
    text-align: center;
    }
    .blog-post-list li:hover{
    cursor: pointer;
    }
    .blog-post-list li{
    display: inline-table;
    list-style-type: none;
    text-align: center;
    height: 400px;
    width: 400px;
    margin: 1% 1%;
    background-size: cover;
    border: 1px solid black;
    background-repeat: no-repeat; 
    background-position: center;
    }
    .blog-post-list li p{
    opacity: .8;
    }
    .blog-post-list li a {
    opacity: .8;
    font-size: 28pt;
    margin-bottom: 10%; 
    text-decoration: none;
    color: $graphic2;
    }
    .img-responsive {
    width: 80%;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    display: block;
    }
    .singlePost p {
    margin: 0 auto;
    width: 70%;
    padding: 2%;
    }
    