$primaryColor: #327aff;
.navContainer ul {
    list-style-type: none;
}
.NavBar {
    margin: 0 auto;
}
.titleLogo {
    display: block;
    margin: 0 auto;
    width: 50%;
}
.linkLogo {
    display: block;
    margin: 0 auto;
    width: 10%;
}
.navList li{
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%;
    height: 100%;
}
.navList li a{
    text-decoration: none;
    color: white;
}
.animLink a::before,
.animLink a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.animLink a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.animLink a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.animLink a:hover::before,
.animLink a:hover::after,
.animLink a:focus::before,
.animLink a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}
@media only screen and (min-width: 800px){
.navbar-fixed {
  position: fixed;
}
.navContainer{
  text-align: center;
  margin: 0 auto;
  margin-top: 1%;
  background-color: $primaryColor;
  width: 98%;
}

.stickyNavContainer {
background-color:  #727d82;
margin: 0 auto;
-webkit-transition: background-color 0.3s;
-moz-transition: background-color 0.3s;
transition: background-color 0.3s;
    /*hardware accel */
-webkit-transform: translate3d(0, 0, 0);
-moz-transform: translate3d(0, 0, 0);
-ms-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
}
.stickyNavContainer.is-fixed {
position: fixed;
background-color: $primaryColor;
top: -21px;
z-index: 1000;
width: 98%;
-webkit-transition: -webkit-transform 0.3s;
-moz-transition: -moz-transform 0.3s;
transition: transform 0.3s;
-webkit-transform: translate3d(0, 100%, 0);
-moz-transform: translate3d(0, 100%, 0);
-ms-transform: translate3d(0, 100%, 0);
transform: translate3d(0, 100%, 0);
}
.stickyNavContainer.is-visible {
background-color: $primaryColor;
opacity: .5;
}
}
